SPRING_DATASOURCE_URL=jdbc:postgresql://
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_DRIVER=org.postgresql.Driver

SPRING_JPA_HIBERNATE_DDL_AUTO=none
SPRING_FLYWAY_ENABLED=true
SPRING_FLYWAY_LOCATIONS=classpath:db/migration

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

JWT_PRIVATE_KEY=classpath:app.key
JWT_PUBLIC_KEY=classpath:app.pub

APP_IMAGE_NAME=app_image
APP_PORT=